body {
	background-color: #ABD0BA;
}


h1 {
	font-size: 60px;
	text-align: center;
	color: #574523;
	font-family: Comic Sans Ms, Sans Serif;
	font-weight: bolder;
	padding-top: 50px;
	margin-bottom: -10px;
}

p {
	font-family: Comic Sans Ms, Sans Serif;
	text-align: center;
	color: white;
	font-size: 22px;
}

#trys {
	font-size: 20px;
	margin-top: -13px;
}

#notification {
	display: none;
	font-size: 20px;
	margin-top: -13px;
}

#hintMessage {
	font-family: Verdana;
	font-size: 20px;
}

#hintDiv {
	margin-top: 2px;
	border: 5px solid #574523;
	border-radius: 12px;
	background-color: #8F7F55;
	text-align: center;
	margin-left: 610px;
	margin-right: 200px;
	margin-bottom: -20px;
	display: none;
}

#question {
	font-size: 24px;
	color: #1E4617;
	font-family:  Comic Sans Ms, Sans Serif;
	font-weight: bold;
}


#mainArea {
	text-align: center;
	background-color: #79B08F;
	padding-bottom: 40px;
}

#banana {
	margin-top: -205px;
	margin-right: 90px;
	height: 200px;
	width: 200px;
	transform: rotate(-40deg);
	float: right;
}

#monkey {
	height: 300px;
	width: 300px;
	float: left;
	margin-top: -280px;
	margin-left: 50px;
}

input {
	height: 50px;
	width: 160px;
	text-align: center;
	margin-bottom: 10px;
	border: none;
}


button {
	background-color: #1E4617;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;
	height: 45px;
	width: 120px;
	color: white;
	border-radius: 12px;
	border: none;
}

button:hover {
	background-color: #DFDB51;
	color: #574523;
	font-weight: bolder;
}


#resetButton {
	margin-left: -350px;
}


#playAgainButton {
	font-size: 24px;
	height: 60px;
	width: 150px;
	margin: auto;
	clear: both;
	display: none;
}






